#about {
  background-color: $apple-green;
  background: linear-gradient(140deg, $apple-green, $lime-green);
  color: $charcol;
  padding: 1em;
  max-width: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: monospace;
  h1 {
    font-size: 250%;
  }
  h2 {
    font-size: 120%;
    text-align: right;
    border-bottom: 2px solid $charcol;
    color: lighten($charcol, 50);
    color: white;
  }
  a {
    text-decoration: underline;
  }
}
