@include scut-sticky-footer-fluid();
#about-body {
  overflow-y: auto;
  -ms-touch-action: auto;
  touch-action: auto;
}
#about {
  @include scut-fill;
  background: $apple-green;
  background: linear-gradient(140deg, $apple-green, $lime-green);
  color: $charcol;
  padding: 1em;
  font-family: monospace;
  h1 {
    font-size: 250%;
    max-width: 600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  h2 {
    font-size: 120%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    border-bottom: 2px solid $charcol;
    color: lighten($charcol, 50);
    color: white;
  }
  p {
    text-align: center;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  a {
    text-decoration: underline;
    &.social-link {
      font-size: 200%;
      text-decoration: none;
    }
  }
}

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

/* ================================================================================
Example showing how to change the color/size of the icons:
.icon-name {
	font-size: 32px; // works because "width" & "height" were set using em units
	color: red; // works because "fill" was set to "currentColor"
}
================================================================================ */

.icon-twitter {
	width: 0.9287109375em;
}

.icon-facebook {
	width: 0.5712890625em;
}
