@import 'vendor/scut';

// RESETS
// Preferred behaviour
@include scut-reset-border-box;
@include scut-reset-button;
@include scut-reset-semanticize;

// CONSTANTS
$apple-green: #62FF00;
$lime-green: #91FF00;

// BASE
html, body {
  // Single full screen page
  @include scut-fill;
  padding: 0;
  margin: 0;
}

html {
  font-size: 160%;
}

// SPLASH-SCREEN
#splash-screen {
  @include scut-fill;

  background-color: $apple-green;
  background: linear-gradient(left, $apple-green, $lime-green);
  transform: translateX(0);
  transition: transform 1s ease-in-out;
  &.hidden {
    transform: translateX(-100%);
  }

  section {
    @include scut-center-transform;
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
    h1 {
      font-size: 400%;
    }
    border: 1px solid black;
    padding: 1em;
    footer {
      border-top: 2px solid black;
      padding-top: 0.4em;
      margin-top: 0.4em;
    }
  }
}
