@import 'vendor/scut';

// CONSTANTS
$apple-green: #00b800;
$lime-green: #91FF00;
$charcol: #26353F;
$apple-primary: $apple-green;
$apple-secondary: $lime-green;


@import 'about';

// RESETS
// Preferred behaviour
@include scut-reset-border-box;
@include scut-reset-button;
@include scut-reset-semanticize;

// BASE
html, body {
  // Single full screen page
  @include scut-fill;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: fixed;
  -ms-touch-action:none;
  touch-action: none;
}

html {
  @media (min-width: 700px) {
    font-size: 160%;
  }
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
}

body {
}

// Core components
a {
  text-decoration: none;
  color: inherit;

  &:visited {
    color: inherit;
  }
}

// SPLASH-SCREEN
#splash-screen {
  @include scut-fill;
  cursor: pointer;

  background-color: $apple-green;
  background: linear-gradient(40deg, $apple-green, $lime-green);
  transform: translateX(0);
  transition: transform 1s ease-in-out;
  &.hidden {
    transform: translateX(-100%);
  }

  section {
    @include scut-center-transform;
    h1 {
      font-size: 400%;
    }
    border: 1px solid black;
    padding: 1em;
    footer {
      border-top: 2px solid black;
      padding-top: 0.4em;
      margin-top: 0.4em;
    }
  }
  z-index: 10;
}
$blueberry-primary: #04235A;
$blueberry-secondary: #68CAFB;
$cherry-primary: #8A0C0D;
$cherry-secondary: #CE6370;
$peach-primary: #F36321;
$peach-secondary: #F89924;
#spirit-level {
  @include scut-fill;
  z-index: 8;
  transform: translateX(0);
  transition: transform 1s ease-in-out;
  &.minimised {
    transform: translateX(-40%) scale(0.7);

  }
  header {
    @include scut-clearfix;
    h1 {
      display: inline-block;
    }
    padding: 0.5em;
    @media (min-width: 700px) {
      padding: 0.5em 2em;
      // font-size: 200%;
    }
    .right {
      float: right
    }
  }
  // border: 4px solid white;
  // margin: -4px;
  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: $apple-green;
    background: linear-gradient(40deg, $apple-green 15%, $lime-green 90%);
  }
  &.default svg {
    background: $apple-green;
    background: linear-gradient(40deg, $apple-green 15%, $lime-green 90%);
  }
  &.blueberry svg {
    background: $blueberry-primary;
    background: linear-gradient(-30deg, $blueberry-primary 30%, $blueberry-secondary);
  }
  &.cherry svg {
    background: cherry-primary;
    background: linear-gradient(-10deg, $cherry-primary 20%, $cherry-secondary 90%);
  }
  &.peach svg {
    background: $peach-primary;
    background: linear-gradient(20deg, $peach-primary 28%, $peach-secondary 61%);
  }
}
span.apple.primary {
  background: $apple-primary;
}
span.apple.secondary {
  background: $apple-secondary;
}
span.blueberry.primary {
  background: $blueberry-primary;
}
span.blueberry.secondary {
  background: $blueberry-secondary;
}
span.cherry.primary {
  background: $cherry-primary;
}
span.cherry.secondary {
  background: $cherry-secondary;
}
span.peach.primary {
  background: $peach-primary;
}
span.peach.secondary {
  background: $peach-secondary;
}
#menu {
  @include scut-fill;
  background-color: lighten($charcol, 50);
  padding: 1em;
  @media (min-width: 700px) {
    padding: 2em 2em;
  }
  text-align: right;
  h1 {
    font-size: 200%;
    // color: white;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
    line-height: 1.6;
    span {
      width: 0.8em;
      height: 0.8em;
      display: inline-block;
      vertical-align: middle;
      border-radius: 4px;
      border: 1px solid white;
    }
  }
}
footer.page {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  padding: 0.5em;
  @media (min-width: 700px) {
    padding: 0.5em 2em;
  }
  .right {
    float: right
  }
}

svg {
  circle.dashed {
    fill: none;
    stroke: black;
    stroke-dasharray: 2;
    stroke-width: 0.4;
  }
  circle.solid {
    fill: none;
    stroke: black;
    stroke-width: 0.6;
  }
  circle.background {
    stroke: black;
    stroke-width: 0.6;
  }
  circle.background {
    fill: url(#g871);
    fill: none;
  }
  line {
    stroke: black;
    stroke-width: 0.6;
  }
}
